# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env

# Output files
*.csv
resources/output.csv

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
# Jupyter Notebook
.ipynb_checkpoints